<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGLggHo4l9GGuBcK4-CT2FBM3mE-A_Tn8</string>
	<key>GCM_SENDER_ID</key>
	<string>948118893115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herai.samantha</string>
	<key>PROJECT_ID</key>
	<string>her-ai-samantha</string>
	<key>STORAGE_BUCKET</key>
	<string>her-ai-samantha.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948118893115:ios:0103e5d35dfb1ff16f221e</string>
</dict>
</plist>